{% extends "base.html" %}
{% block content %}

<form action="" method="POST" name="form">
    <div class="col-md-4 col-md-offset-4">
        <div class="form-group">
            <label class="control-label" for="nome">Nome</label>
            <input type="text" class="form-control" name="inputnome" value={{ query.nome }}>
        </div>
        <div class="form-group">
            <label class="control-label" for="endereco">Endereço</label>
            <input type="text" class="form-control" name="inputend" value={{ query.endereco }}>
        </div>
        <div class="form-group">
            <label class="control-label" for="telefone">Telefone</label>
            <input type="text" class="form-control" name="inputteal" value={{ query.telefone }}>
        </div>
        <div class="form-group">
            <label class="control-label" for="email">Email</label>
            <input type="text" class="form-control" name="inputemail" value={{ query.email }}>
        </div>
        <button type="submit" class="btn btn-primary">Alterar</button>
    </div>
</form>

{% endblock %}