{% extends "base.html" %}
{% block content %}

        <div style="padding: 15px 8px;margin-top: 2px">

            <h1 style="text-align: center;">Lista de Endereços</h1>
        
            <br>

            <table class="table">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Endereço</th>
                        <th>Telefone</th>
                        <th>E-mail</th>
                        <th>Ação</th>
                    </tr>
            </thead>
            <tbody>
                {%for agenda in query%}
                <tr>
                        <td>{{agenda.nome}}</td>
                        <td>{{agenda.endereco}}</td>
                        <td>{{agenda.telefone}}</td>
                        <td>{{agenda.email}}</td>
                        <td><a href="./achaporID?_id={{agenda['_id'] }}"><button type="submit" 
                            class="btn btn-primary">Alterar</button></a></td>
                        <td><a href="./remove?_id={{agenda['_id'] }}"><button type="submit" 
                            class="btn btn-danger">Apagar</button></a></td>
                        
                </tr>
                {%endfor%}
            </tbody>
            </table>

        </div>

        <a href="./agenda_retorna?"><button type="button" 
            class="btn btn-danger">Retornar</button>

{% endblock %}